div.info-container {
  border: solid black 2px;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 2px 5px 5px 5px;
  font-family: "BasicManual";
}

div.info-container p.heading {
  margin: 0 0 0 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
}

div.info-container div.content p {
  margin: 0;
  text-align: justify;
  font-size: 15px;
  line-height: 15px;
}
