@font-face {
  font-family: "Gilland-Bold";
  src: url("../public/fonts/Gilland-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SVBasicManual";
  src: url("../public/fonts/SV\ Basic\ Manual\ Book.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

div#root {
  font-family: "SVBasicManual";
}
