#titleBar div.title {
  color: black;
  font-size: 18px;
  font-family: "Gilland-Bold";
  line-height: 1;
}

#titleBar div.sub {
  color: black;
  font-size: 14px;
  font-family: "Gilland-Bold";
}

#titleBar div.link {
  color: black;
  font-size: 14px;
  font-family: "Gilland-Bold";
}
